.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
  }
  
  .textarea {
    width: 100%;
    padding: 10px;
    height: 180px;
    background-color: #f0f0f0;
    padding-left: 20px;
   border: #f0f0f0;
    border-radius: 4px;
    outline: none;
    border-left:1px  solid #ccc;
    font-weight: bolder;
    color:black;
  }
  
  .line-numbers {
    padding: 0 10px; /* Add some padding to the line numbers */
    /* Add a vertical line to separate line numbers */
  }
  span{
    color:  #838282;
    font-size: small;
    font-weight: bolder;
    
  }
  .line-number {
    font-size: 12px; /* Adjust the font size of line numbers */
    margin: 0;
    padding: 2px 0;
   
    color: #a7a6a6
  }
  p{
    font-size: small;
    color:#838282;
  }
  .button {
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 4px;
    width: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 10px 20px;
    cursor: pointer;
    
  }
  
  .button:hover {
    background-color: purple;
  
  }
  .btns{
    margin-left: 390px;
    color:red;
    margin-bottom: 15px;

  }
  .btn{
    border: none;
    background-color: white;
    color:red;
  
  }
  .error {
    display: flex;
    width: 520px;
    border: 2px solid #FF0000; /* Set the border color to red (warning color) */
    padding: 10px;
   margin-bottom: 20px;
    border-radius: 4px;
    align-items: center;
    margin-left: 80px;
   /* Set the background color for the error message */
    color: #FF0000; /* Set the text color to red */
  }
  .success {
    display: flex;
    flex-direction: column;
    width: 560px;
    border: 2px solid green; /* Set the border color to red (warning color) */
    padding: 10px;
   margin-bottom: 20px;
    border-radius: 4px;
    align-items: center;
   /* Set the background color for the error message */
    color:green; /* Set the text color to red */
  }


  /* Add this CSS code to your disperse.css file */

.container {
  text-align: left;
}

.textarea-container {
  display: flex;
  align-items: flex-start;
  background-color: #f0f0f0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 800px;
  height: 200px;
  display: flex; /* Use flexbox to align line numbers and textarea */
  align-items: flex-start; 
}

.textarea {
  flex: 1;
  padding-left: 10px; /* Add left padding for text inside the textarea */
  position: relative; /* Required for pseudo-element */
}

/* Add a vertical line using a pseudo-element */
.textarea::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #ccc; /* Color of the vertical line */
  z-index: -1; /* Place the line behind the text */
}





  
  